.edit {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 24px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.2s ease-in-out;
	border-radius: 9999px;
	animation: zoomIn 0.3s ease-in-out;
	z-index: 8;
}

.edit:hover {
	background-color: var(--primary-background);
}
