.edit-modal-content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	padding: 20px;
}

.edit-modal-content form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.input-group {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.edit-modal-content h2 {
	text-align: center;
	color: var(--primary-text);
}

.edit-modal-content label {
	font-size: 18px;
	color: var(--primary-text);
}

.edit-modal-content input {
	width: 100%;
	height: 40px;
	padding: 10px;
	border: none;
	border-radius: 6px;
	font-size: 18px;
	border: 2px solid var(--primary-background);
	background-color: var(--secondary-background);
	color: var(--primary-text);
	outline: none;
	transition: all 0.3s ease-in-out;
}

.edit-modal-content input:focus {
	border: 1px solid var(--primary-text);
}

.edit-modal-content button {
	width: 100%;
	height: 40px;
	border: 1px solid var(--primary-background);
	border-radius: 6px;
	background-color: var(--primary-background);
	color: var(--primary-text);
	font-size: 18px;
	cursor: pointer;
	outline: none;
	transition: all 0.3s ease-in-out;
}

.edit-modal-content button:hover,
.edit-modal-content button:focus {
	border: 1px solid var(--primary-text);
}
